@import "../App/App";
.footer{

  display:flex;
  justify-content: space-between;
  right:0;
  left:0;
  width: 100%;
  padding: 20px 50px 20px 40px ;
  background-color: $header-footer-color;
  box-sizing: border-box;
  img{
    width: 170px;
  }
}