@import "../App/App";


.theme-list{
  max-height:350px ;
  padding-left: 0;
  overflow-y: scroll;
  margin-top: 20px;
  li.theme-list-item::before{
    content: '>';
    color:$main-green-color;
    margin-right: 10px;
    font-weight: 900;
  }
  .theme-list-item:first-child{
    padding-top: 0;
    margin-top: 0;
  }
  .theme-list-item .active{
    color:$main-white-color;
  }
  .theme-list-item{
    color: $no-active-color;
    list-style: none;
    padding: 5px;
    margin:0;
    text-decoration: none;
  }
  .second-layer-list{
    padding-left: 20px;
    .second-layer-list-item{
      list-style: none;
      color: $no-active-color;
      padding: 5px;
      margin: 8px 0;
    }
    .second-layer-list-item .active{
      li{
        color:$main-green-color;
      }
      a{
        text-decoration: none;
        color: $white-color-selected;
      }
    }
    .second-layer-list-item-link::before{
      content: "»";
      color: $no-active-color;
      margin-right: 15px;
    }
    .second-layer-list-item-link.active::before{
      content: "»";
      color: $main-green-color;
      margin-right: 15px;
    }
    .second-layer-list-item-link{
      text-decoration: none;
      color: $no-active-color;
    }
    .second-layer-list-item-link.active{
      text-decoration: none;
      color: $white-color-selected;
    }
  }

}
.theme-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.theme-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:$scroll-color;
}

.theme-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: $white-color-selected;
}

