@import '../App/App';

.drawer {
  position: fixed;
  padding-top: 10px;
  top: 60px;
  left: 0;
  padding-left: 30px;
  margin-top: 30px;
  max-height: 500px;
  width: 15%;
  font-size: 15px;
  background-color: $header-footer-color;
  border-radius: 0 16px 16px 0;

  .exit-icon-block {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    justify-content: space-between;
  }

  .exit-icon-title {
    font-weight: 600;
    margin: 0;
    font-size: 20px;
  }
}