@import "../../componentes/App/App";

.main{
  display:flex;
  padding-left: 15%;
  top: 50px;
}
.algorithm{
  width:100%;
  .container {
    padding: 0 30px 20px 50px;
    height: 71.5vh;
    overflow: scroll;
    .algorithm-title{
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 10px;
    }


    .nav-switch {
      display: flex;
      padding-left: 0;
      margin-bottom: 20px;
      text-decoration: none;
      .nav-item{
        text-decoration: none;
      }
      .nav-item.active{
        border-bottom: 1px solid $main-green-color;
        color: $white-color-selected;
        text-decoration: none;
      }

      .theory {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 8px;

        width: 120px;
        height: 56px;
        color: $no-active-color;
        border-bottom: 1px solid $no-active-color;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .practice {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 4px 0 0;
        gap: 8px;

        width: 131px;
        height: 56px;
        color: $no-active-color;
        border-bottom: 1px solid $no-active-color;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    .content {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      max-height: 800px;
      min-height: 150px;

      .bold {
        color: $white-color-selected;
      }

      h6 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .container::-webkit-scrollbar {
    width: 0;
  }
}
