@import "../App/App";
header{
  position: sticky;
  top:0;

}
.header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;

  padding: 20px 50px 20px 40px ;
  background-color: $header-footer-color;
  z-index: 2;
  box-sizing: border-box;
}